@model IEnumerable<The_Academy_Leave_System.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>User Management</h1>

<p>
    <a asp-action="Create">Create New User</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.TeamId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveAllowanceThisYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveAllowanceNextYear)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.PasswordHash)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.LastLoggedInDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
            @Html.DisplayFor(modelItem => item.TeamId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleId)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>*@
            @*<td>
            @Html.DisplayFor(modelItem => item.LeaveAllowanceThisYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeaveAllowanceNextYear)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.PasswordHash)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.LastLoggedInDateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="ResetPassword" asp-route-id="@item.Id">Reset Password</a>
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
