@model The_Academy_Leave_System.Models.LeaveRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LeaveRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedLeaveStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedLeaveStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedLeaveEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedLeaveEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDaysRequested)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalDaysRequested)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HalfDayIdentification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HalfDayIdentification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RejectedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RejectedDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerNotified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerNotified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserNotified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserNotified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCancelled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCancelled)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
