@model IEnumerable<The_Academy_Leave_System.ViewModels.LeaveRequestViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>My Annual Leave</h1>

<p>
    <a asp-action="Create">Create New Request</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ThisLeaveRequest.CreatedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThisLeaveRequest.RequestedLeaveStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThisLeaveRequest.RequestedLeaveEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThisLeaveRequest.TotalDaysRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ThisLeaveRequest.CreatedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThisLeaveRequest.RequestedLeaveStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThisLeaveRequest.RequestedLeaveEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThisLeaveRequest.TotalDaysRequested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            <td>
                @if (item.Status == "Pending")
                {
                    <a asp-action="Edit" asp-route-id="@item.ThisLeaveRequest.Id">Edit Leave</a>
                }
                else
                {
                    @*<a asp-action="Edit" asp-route-id="@item.ThisLeaveRequest.Id">Edit Leave</a>*@
                }

            </td>
        </tr>
}
    </tbody>
</table>
