@model IEnumerable<The_Academy_Leave_System.ViewModels.LeaveRequestViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Pending Leave Requests</h1>

@*<p>
    <a asp-action="Create">Create New Request</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThisLeaveRequest.CreatedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThisLeaveRequest.RequestedLeaveStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThisLeaveRequest.RequestedLeaveEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThisLeaveRequest.TotalDaysRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThisLeaveRequest.CreatedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThisLeaveRequest.RequestedLeaveStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThisLeaveRequest.RequestedLeaveEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThisLeaveRequest.TotalDaysRequested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)

                <input type="button" value="Approve" class="btn btn-primary" asp-action="Approve" asp-controller="LeaveRequests" />
                <input type="button" value="Deny" class="btn btn-danger" asp-action="Deny" asp-controller="LeaveRequests" />
            </td>





        </tr>
        }
    </tbody>
</table>
